.transition-fade {
  transition: 500ms;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html.is-leaving .transition-fade {
  opacity: 0;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

body {
  background-image: url('../Images/Background.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow-y: hidden;
  overflow-x: hidden; 
}
.container {
  /*margin-top: 1px;*/
  padding-top: 511px;
  padding-bottom: 54px;
  background-image: url('../Images/Title-Background.png');
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 10%;

}
.Container-1 {
  position: absolute;
  top: 63%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}
#Second {
  position: absolute;
  top: 60%;
  left: 62%;
  transform: translate(-50%, -50%);
  color: white;
}
#Third {
  position: absolute;
  top: 20%;
  left: 62%;
  transform: translate(-50%, -50%);
  color: white;
}
#Options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.Dont-Touch {
  position: absolute;
  white-space: nowrap;
  padding: 0px;
  font-size: 30px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Options-Text {
  position: absolute;
  white-space: nowrap;
  padding: 0px;
  font-size: 30px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@font-face {
  font-family: myFirstFont;
  src: url('../Fonts/big_noodle_titling.ttf');
}

#start {
  background-color: #5593bd;
  border: none;
  color: white;
  padding: 35px 42px;
  top: -50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  font-family: myFirstFont;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: -500px;
}
#options {
  background-color: #5593bd;
  border: none;
  color: white;
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
  font-family: myFirstFont;
  margin: 4px 2px;
  cursor: pointer;
}
#extra {
  background-color: #5593bd;
  border: none;
  color: white;
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: myFirstFont;
  margin: 4px 2px;
  cursor: pointer;
}
#credits {
  background-color: #5593bd;
  border: none;
  color: white;
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: myFirstFont;
  margin: 4px 2px;
  cursor: pointer;
}
.HeaderImage {
  position: relative; 
  left: 49%;
  transform: translateX(-50%);
}
#Exit{
  background-color: #5593bd;
  border: none;
  color: white;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: myFirstFont;
  margin: 4px 2px;
  cursor: pointer;
}

a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: black;
}
a:visited {
  color: white;
}
.Back { 
  background-color: #5593bd;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: myFirstFont;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
nav { 
    /*margin-top: 1px;*/
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
